/* Background yang estetik */
body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background untuk container */
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: left;
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

p {
    font-size: 1.2em;
    line-height: 1.8;
    color: #555;
    margin-bottom: 15px;
    text-align: justify;
}
