body {
    font-family: Arial, sans-serif;
    background-image: url('image/backgroundfix22.jpeg');
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    display: flex;
    gap: 20px; /* Spasi antar kartu */
}

.card {
    background-color: #fdd697;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    width: 200px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h2 {
    color: #000000;
    margin-bottom: 10px;
}

.card p {
    color: #000000;
    font-size: 1em;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

